/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/

.c-breadcrumb {
	ul {
		li {
			display: inline-block;
			font-size: 1.2rem;
			color: #231916;
			@include sp {
				font-size: 1.1rem;
			}
			&:after {
				content: ">";
				font-size: 1.5rem;
				color: #231916;
				margin: 0 3px 0 6px;
				@include sp {
					font-size: 1.2rem;
					margin: 0 2px 0 4px;
				}
			}
			&:last-of-type {
				&:after {
					content: none;
				}
			}
		}
		a {
			text-decoration: none;
			font-size: 1.2rem;
			color: #231916;
			@include sp {
				font-size: 1.1rem;
			}
		}
	}
}
