/*------------------------------------------------------------
footer
------------------------------------------------------------*/

.c-footer {
    &__inner {
        max-width: 1150px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px 68px;
        position: relative;
        @include sp {
            padding: 0 0 22px;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 53px;
    }
    &__left {
        width: 64.3%;
        h2 {
            font-size: 2.8rem;
            color: #231916;
            border-bottom: 1px solid #231916;
            padding: 3px 0;
            margin-bottom: 9px;
        }
        p {
            font-size: 1.2rem;
            color: #231916;
            line-height: 2.2;
            text-align: justify;
        }
    }
    &__right {
        width: 31.2%;
        h3 {
            font-size: 1.8rem;
            color: #231916;
            border-bottom: 1px solid #231916;
            padding: 14px 0 5px;
            margin-bottom: 15px;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            li {
                width: 50%;
                margin-bottom: 10px;
                a {
                    display: block;
                    font-size: 1.2rem;
                    color: #231916;
                    text-decoration: none;
                    position: relative;
                    &:after {
                        content: ">";
                        font-size: 1.5rem;
                        color: #231916;
                        position: absolute;
                        top: -4px;
                        right: 0;
                    }
                }
                &:nth-child(odd) {
                    a::after {
                        right: 15px;
                    }
                }
            }
        }
    }
    &__content2 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;
    }
    &__left2 {
        width: 400px;
        p {
            font-size: 1.6rem;
            color: #231916;
            font-weight: bold;
        }
    }
    &__right2 {
        width: calc(100% - 400px);
        text-align: right;
        padding-top: 2px;
        ul {
            li {
                display: inline-block;
                margin-left: 14px;
                margin-bottom: 15px;
                vertical-align: text-top;
                &:first-of-type {
                    margin-left: 0;
                }
                &:nth-child(2) {
                    margin-left: 12px;
                }
            }
        }
        a {
            text-decoration: none;
            font-size: 1.3rem;
            color: #231916;
            font-weight: bold;
        }
        img {
            vertical-align: middle;
        }
    }
    &__copy {
        font-size: 1.1rem;
        color: #231916;
        font-weight: bold;
        @include sp {
            font-size: 0.85rem;
            text-align: center;
        }
    }
    &__top {
        position: absolute;
        bottom: 68px;
        right: 15px;
        z-index: 100;
    }
    &__nav {
        margin-bottom: 37px;
    }
    &__nav2 {
        display: none;
        li {
            border-top: 1px solid #231916;
            &:last-of-type {}
            a {
                display: block;
                text-decoration: none;
                font-size: 1.2rem;
                color: #231916;
                padding: 11px 0 10px 40px;
                position: relative;
            }
        }
    }
    &__item {
        border-top: 1px solid #231916;
        &:last-of-type {
            border-bottom: 1px solid #231916;
        }
        >a {
            display: block;
            text-decoration: none;
            font-size: 1.2rem;
            color: #231916;
            padding: 11px 0 10px 21px;
            position: relative;
        }
        .js-plus {
            width: 53px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            &:before,
            &:after {
                content: "";
                width: 8px;
                height: 1px;
                background: #231916;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                transition: .3s ease-in-out;
            }
            &:after {
                transform: rotate(90deg);
            }
            &.is-active {
                &:after {
                    transform: rotate(0);
                }
            }
        }
    }
    &__text {
        text-align: center;
        font-size: 1.15rem;
        color: #231916;
        margin-bottom: 14px;
    }
    &__list {
        text-align: center;
        margin-bottom: 30px;
        li {
            display: inline-block;
            margin-right: 6px;
            &:last-of-type {
                margin-right: 0;
            }
            img {
                width: 14px;
                height: auto;
                vertical-align: middle;
            }
            a {
                text-decoration: none;
                font-size: 1.1375rem;
                color: #231916;
            }
        }
    }
}


/*
------------------------------------------------------------*/

.iframe-footerWrap {
    width: 100%;
    @include sp {
        position: relative;
        width: 100%;
        padding: calc(430 / 375 * 100%) 0 0;
    }
    .iframe-footer {
        width: 100%;
        @include sp {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
