/*------------------------------------------------------------
header
------------------------------------------------------------*/

.c-header {
    @include sp {
        height: 80px;
    }
    &__inner {
        max-width: 1150px;
        width: 100%;
        height: 160px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px 9px;
        @include sp {
            height: 80px;
            padding: 0 12px 0 15px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            background: #fff;
            transition: .2s linear;
            &.is-sroll {
                height: 60px;
            }
        }
    }
    &__logo {
        width: 80px;
        text-align: center;
        @include sp {
            width: auto;
            img {
                width: 38.5px;
                height: auto;
            }
        }
    }
    &__menu,
    &__info {
        width: calc(50% - 40px);
    }
    &__menu {}
    &__info {
        text-align: right;
        ul {
            display: flex;
            justify-content: flex-end;
            li {
                margin-left: 6%;
                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
    }
    &__iconSP {
        cursor: pointer;
        text-align: center;
        margin: 13px 0 0 0;
        img {
            width: 22px;
            height: auto;
        }
        p {
            font-size: 1.05rem;
            color: #231916;
            font-weight: bold;
        }
    }
}


/*
------------------------------------------------------------*/

.c-menu {
    display: flex;
    &__item {
        margin-right: 5.5%;
        &:last-of-type {
            margin-right: 0;
        }
        >a {
            text-decoration: none;
            font-size: 1.6rem;
            color: #231916;
            font-weight: bold;
            padding: 0 0 0 20px;
            position: relative;
            // letter-spacing: 0.1em;
            &:before {
                content: "";
                width: 6px;
                height: 6px;
                border-right: 2px solid #C9CACA;
                border-bottom: 2px solid #C9CACA;
                position: absolute;
                top: 5px;
                left: 1px;
                transform: rotate(45deg);
            }
        }
    }
}


/*
------------------------------------------------------------*/

.iframe-headerWrap {
    width: 100%;
    @include sp {
        position: relative;
        width: 100%;
        padding: calc(80 / 375 * 100%) 0 0;
    }
    .iframe-header {
        width: 100%;
        height: 100%;
        @include sp {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}