/*------------------------------------------------------------
layout
------------------------------------------------------------*/


.l-container {
	max-width: 1150px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	@include sp {
		padding: 0;
	}
}

/*
------------------------------------------------------------*/
.l-content {
	display: flex;
	justify-content: space-between;
}

/*
------------------------------------------------------------*/
.l-side {
	width: 250px;
	margin-right: 20px;
}

/*
------------------------------------------------------------*/
.l-main {
	width: 770px;
	@include sp {
		width: 100%;
		padding: 0 10px;
	}
}