/*------------------------------------------------------------
side
------------------------------------------------------------*/

.c-side {
    margin-bottom: 72px;
    &__image {
        margin: 5px 0 67px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &__navi {
        margin-bottom: 57px;
    }
    &__title {
        padding-bottom: 8px;
        border-bottom: 1px solid #231916;
        a,
        p {
            position: relative;
            font-size: 1.6rem;
            font-weight: bold;
            color: #231916;
            text-decoration: none;
            display: flex;
            align-items: end;
            img {
                margin: 0 5px;
            }
        }
    }
    &__list {}
    .c-search {
        margin-bottom: 47px;
        padding-bottom: 8px;
        &__box {
            input[type=text] {
                height: 45px;
                font-size: 1.4rem;
            }
            input[type=submit] {
                background-size: unset;
                cursor: pointer;
            }
        }
    }
    .c-list1 {
        margin-bottom: 51px;
    }
}
