<link rel="stylesheet" href="/assets/css/style.min.css">

<footer class="c-footer">

    <div class="c-footer__inner pc-only">

        <div class="c-footer__content">
            <div class="c-footer__left">
                <h2>CDC GENRAL STORE</h2>
                <div>
                    <p>シーディーゼネラルストアはレディスセレクトショプや雑貨店を富山市で運営する有限会社CDCの楽天市場店です。 お店でお買い物されるのと同じようにお客様が安心して満足いくネットショッピングが出来るような対応を心がけて運営しています。</p>
                    <p>&#9673; 運営会社　有限会社CDC　〒939-8076 富山県富山市太郎丸178-12　TEL 076-425-2561　cotondeux@cdcinc.co.jp</p>
                </div>
            </div>
            <div class="c-footer__right">
                <h3>ABOUT SHOP</h3>
                <ul>
                    <li>
                        <a href="/company/" target="_top">会社案内</a>
                    </li>
                    <li>
                        <a href="/about/" target="_top">個人情報の取り扱い</a>
                    </li>
                    <li>
                        <a href="https://ask.step.rakuten.co.jp/inquiry-form/?page=simple-inquiry-top&act=login&ms=500&shop_id=234660" target="_top">お問い合わせ</a>
                    </li>
                    <li>
                        <a href="https://www.rakuten.co.jp/okotico/news.html" target="_top">メールマガジン</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="c-footer__content2">
            <div class="c-footer__left2">
                <p>送料全国一律500円 ｜ 税込8,000円以上で送料無料</p>
            </div>
            <div class="c-footer__right2">
                <ul>
                    <li>
                        <a href="/guide/" target="_top">
                            <img src="/assets/img/common/icon_02.png" width="24" height="23" alt=""> ショッピングガイド
                        </a>
                    </li>
                    <li>
                        <a href="/faq/" target="_top">
                            <img src="/assets/img/common/icon_03.png" width="24" height="23" alt=""> よくある質問
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/dupon35/" target="_blank">
                            <img src="/assets/img/common/icon_06.png" width="21" height="17" alt=""> twitter
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/cdcinc/" target="_blank">
                            <img src="/assets/img/common/icon_07.png" width="21" height="21" alt=""> Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/dupon35/timeline/" target="_blank">
                            <img src="/assets/img/common/icon_08.png" width="21" height="21" alt=""> Facebook
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="c-footer__copy">
            <p>© 2009- CDC GENERAL STORE BY CDC INC. ALL RIGHTS RESERVED.</p>
        </div>

        <div class="c-footer__top">
            <div class="c-top">
                <p>PAGE TOP</p>
            </div>
        </div>
    </div>

    <div class="c-footer__inner sp-only">
        <nav class="c-footer__nav">
            <ul>
                <li class="c-footer__item">
                    <a href="/feature/" target="_top">特集</a>
                </li>
                <li class="c-footer__item">
                    <a href="https://item.rakuten.co.jp/okotico/c/0000005149/" target="_top">新入荷</a>
                </li>
                <li class="c-footer__item">
                    <a href="#">商品カテゴリから探す<span class="js-plus"></span></a>
                    <ul class="c-footer__nav2">
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000421/" target="_top">Stationery</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000422/" target="_top">Papergoods</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000459/" target="_top">Interior</a>
                        </li>
                    </ul>
                </li>
                <li class="c-footer__item">
                    <a href="/search/" target="_top">ブランドから探す</a>
                </li>
                <li class="c-footer__item">
                    <a href="/guide/" target="_top">ショッピングガイド</a>
                </li>
                <li class="c-footer__item">
                    <a href="/faq/" target="_top">よくある質問</a>
                </li>
                <li class="c-footer__item">
                    <a href="https://www.rakuten.co.jp/okotico/news.html" target="_top">メルマガ登録</a>
                </li>
            </ul>
        </nav>
        <div class="c-footer__text">
            <p>送料全国一律500円 ｜ 税込8,000円以上で送料無料</p>
        </div>
        <ul class="c-footer__list">
            <li>
                <a href="https://twitter.com/dupon35/" target="_blank">
                    <img src="/assets/img/common/icon_06.png" width="21" height="17" alt=""> twitter
                </a>
            </li>
            <li>
                <a href="https://instagram.com/cdcinc/" target="_blank">
                    <img src="/assets/img/common/icon_07.png" width="21" height="21" alt=""> Instagram
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/dupon35/timeline/" target="_blank">
                    <img src="/assets/img/common/icon_08.png" width="21" height="21" alt=""> Facebook
                </a>
            </li>
        </ul>
        <div class="c-footer__copy">
            <p>© 2009- CDC GENERAL STORE BY CDC INC. ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</footer>
<script src="/assets/js/jquery-3.3.1.min.js" defer></script>
<script src="/assets/js/functions.min.js" defer></script>
</body>

</html>
