<link rel="stylesheet" href="/assets/css/style.min.css">

<aside class="l-side">
    <!-- <aside class="l-side pc-only"> -->
    <div class="c-side">
        <div class="c-side__image">
            <a href="/feature/jielde/" target="_top"><img src="/assets/img/common/01.jpg" width="250" height="436" alt="" /></a>
        </div>

        <div class="c-search">
            <!-- <form class="c-search__box">
<input type="text" name="s" placeholder="SEARCH">
<input type="submit" value="">
</form> -->
            <form action="https://esearch.rakuten.co.jp/rms/sd/esearch/vc" method="get" target="_blank" class="c-search__box">
                <input name="sv" value="6" type="hidden" />
                <input name="sid" value="234660" type="hidden" />
                <input name="su" value="cpstore" type="hidden" />
                <input name="sn" value="CPSTORE" type="hidden" />
                <input name="f" value="A" type="hidden" />
                <input name="sitem" type="text" class="searchwindow va-center" placeholder="SEARCH" />
                <input type="submit" value="" />
            </form>
        </div>

        <div class="c-list1">
            <ul>
                <li>
                    <a href="/feature/" target="_top">特集</a>
                </li>
                <li>
                    <a href="https://item.rakuten.co.jp/okotico/c/0000005149/" target="_top">新入荷</a>
                </li>
                <li>
                    <a href="https://item.rakuten.co.jp/okotico/c/0000002998/" target="_top">ポイント10倍</a>
                </li>
                <li>
                    <a href="https://item.rakuten.co.jp/okotico/c/0000003040/" target="_top">ワケあり</a>
                </li>
                <li>
                    <a href="/search/" target="_top">ブランド一覧</a>
                </li>
                <li>
                    <a href="/news/" target="_top">お知らせ</a>
                </li>
            </ul>
        </div>

        <div class="c-side__navi">
            <div class="c-side__title">
                <a href="https://item.rakuten.co.jp/okotico/c/0000000421/" target="_top">
                    <img src="/assets/img/common/icon_11.png" width="22" height="23" alt="" /><span>Stationery</span>
                </a>
            </div>
            <div class="c-side__list">
                <div class="c-list2">
                    <ul>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000432/" target="_top">筆記具</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004219/" target="_top">ノート/メモ帳</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000435/" target="_top">スタンプ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002583/" target="_top">ピン/クリップ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000434/" target="_top">ファイル/クリップボード</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002584/" target="_top">キーホルダー</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004220/" target="_top">iPhoneケース</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000461/" target="_top">デスクトップ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000436/" target="_top">その他ステーショナリー</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="c-side__navi">
            <div class="c-side__title">
                <a href="https://item.rakuten.co.jp/okotico/c/0000000422/" target="_top">
                    <img src="/assets/img/common/icon_19.png" width="20" height="18" alt="" /><span>Papergoods</span>
                </a>
            </div>
            <div class="c-side__list">
                <div class="c-list2">
                    <ul>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002585/" target="_top">ノート/メモ帳</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000463/" target="_top">封筒/レターセット</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000463/" target="_top">カード/ポストカード</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004230/" target="_top">ポスター</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004229/" target="_top">ペーパーバッグ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000462/" target="_top">テープ／シール</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000440/" target="_top">その他ペーパーグッズ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="c-side__navi">
            <div class="c-side__title">
                <a href="https://item.rakuten.co.jp/okotico/c/0000000459/" target="_top">
                    <img src="/assets/img/common/icon_12.png" width="22" height="23" alt="" /><span>Interior</span>
                </a>
            </div>
            <div class="c-side__list">
                <div class="c-list2">
                    <ul>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000464/" target="_top">照明</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000465/" target="_top">時計</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000468/" target="_top">収納</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000466/" target="_top">ゴミ箱</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002607/" target="_top">ポスト</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004246/" target="_top">ラグ/マット</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000467/" target="_top">キャンドル/ディフューザー</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002586/" target="_top">オブジェ/ポスター</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001612/" target="_top">スイッチプレート</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000003698/" target="_top">フォトフレーム/額縁</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004338/" target="_top">鏡</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000003690/" target="_top">フック/金具</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004247/" target="_top">有孔ボード</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004285/" target="_top">レターボード</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000469/" target="_top">その他インテリア</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="c-side__navi">
            <div class="c-side__title">
                <a href="https://item.rakuten.co.jp/okotico/c/0000000424/" target="_top">
                    <img src="/assets/img/common/icon_13.png" width="22" height="22" alt="" /><span>Kitchen/Tablewear</span>
                </a>
            </div>
            <div class="c-side__list">
                <div class="c-list2">
                    <ul>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000472/" target="_top">皿/プレート</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002605/" target="_top">グラス/マグカップ/C&S</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000003457/" target="_top">急須/ポット</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002590/" target="_top">水筒</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004307/" target="_top">弁当箱/保存容器</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004308/" target="_top">調理小物</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004309/" target="_top">トレー/カッティングボード</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000447/" target="_top">カトラリー/箸置き</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000448/" target="_top">クロス</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002606/" target="_top">食品</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004313/" target="_top">コーヒーグッズ/コーヒー</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000449/" target="_top">その他(キッチン・テーブルウェア)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="c-side__navi">
            <div class="c-side__title">
                <a href="https://item.rakuten.co.jp/okotico/c/0000002591/" target="_top">
                    <img src="/assets/img/common/icon_14.png" width="22" height="22" alt="" /><span>生活雑貨</span>
                </a>
            </div>
            <div class="c-side__list">
                <div class="c-list2">
                    <ul>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002593/" target="_top">タオル/ハンカチ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002595/" target="_top">ボディケア</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004292/" target="_top">アロマ/キャンドル</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004293/" target="_top">ランドリー</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002594/" target="_top">掃除用品</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004295/" target="_top">ルームシューズ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002597/" target="_top">その他生活雑貨</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="c-side__navi">
            <div class="c-side__title">
                <a href="https://item.rakuten.co.jp/okotico/c/0000000423/" target="_top">
                    <img src="/assets/img/common/icon_21.png" width="18" height="19" alt="" /><span>Fabric</span>
                </a>
            </div>
            <div class="c-side__list">
                <div class="c-list2">
                    <ul>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004286/" target="_top">ラグ/マット</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004287/" target="_top">ブランケット/クロス</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004288/" target="_top">タオル/ハンカチ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000444/" target="_top">その他</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="c-side__navi">
            <div class="c-side__title">
                <a href="https://item.rakuten.co.jp/okotico/c/0000000420/" target="_top">
                    <img src="/assets/img/common/icon_15.png" width="22" height="22" alt="" /><span>Antique／Vintage</span>
                </a>
            </div>
            <div class="c-side__list">
                <div class="c-list2">
                    <ul>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000477/" target="_top">食器/キッチンツール</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000475/" target="_top">Fireking</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000476/" target="_top">Old Pyrex</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000428/" target="_top">ステーショナリー</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002600/" target="_top">チケット/切符/カード</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002601/" target="_top">キーホルダー/タグ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002599/" target="_top">パッケージ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000478/" target="_top">オールドボトル</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000427/" target="_top">ブローチ/ピン</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002608/" target="_top">インテリア</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002602/" target="_top">オブジェ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002603/" target="_top">布/手芸用品</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000002604/" target="_top">本</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000431/" target="_top">その他アンティーク</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="c-side__navi">
            <div class="c-side__title">
                <a href="https://item.rakuten.co.jp/okotico/c/0000000425/" target="_top">
                    <img src="/assets/img/common/icon_20.png" width="19" height="16" alt="" /><span>Books</span>
                </a>
            </div>
        </div>

        <div class="c-side__navi">
            <div class="c-side__title">
                <a href="https://item.rakuten.co.jp/okotico/c/0000001470/" target="_top">
                    <img src="/assets/img/common/icon_22.png" width="22" height="22" alt="" /><span>外国から届いたもの</span>
                </a>
            </div>
            <div class="c-side__list">
                <div class="c-list2">
                    <ul>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001593/" target="_top">PILLCASE</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="c-side__navi">
            <div class="c-side__title">
                <a href="https://item.rakuten.co.jp/okotico/c/0000001797/" target="_top">
                    <img src="/assets/img/common/icon_16.png" width="22" height="22" alt="" /><span>Ladies Item</span>
                </a>
            </div>
            <div class="c-side__list">
                <div class="c-list2">
                    <ul>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001799/" target="_top">アウター</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001800/" target="_top">ジャケット</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004278/" target="_top">ベスト</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001801/" target="_top">Tシャツ/タンクトップ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001802/" target="_top">カットソー</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001803/" target="_top">シャツ/ブラウス</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001804/" target="_top">スウェット</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001805/" target="_top">カーディガン</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001806/" target="_top">ニット</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001807/" target="_top">ワンピース/チュニック</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001808/" target="_top">パンツ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001809/" target="_top">スカート</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001810/" target="_top">シューズ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001811/" target="_top">バッグ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001812/" target="_top">ボウシ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001813/" target="_top">サイフ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001814/" target="_top">ストール/スカーフ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001815/" target="_top">靴下/タイツ/レギンス</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001816/" target="_top">ベルト</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001817/" target="_top">カサ</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000004198/" target="_top">時計</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000003803/" target="_top">眼鏡</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001818/" target="_top">アクセサリー</a>
                        </li>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000001819/" target="_top">その他</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="c-side__navi">
            <div class="c-side__title">
                <p>
                    <img src="/assets/img/common/icon_17.png" width="22" height="23" alt="" /><span>価格帯で探す</span>
                </p>
            </div>
            <div class="c-side__list">
                <div class="c-list2">
                    <ul>
                        <li>
                            <a href="https://search.rakuten.co.jp/search/mall/?max=500&min=1&s=4&sid=234660&v=3">あと 500円</a>
                        </li>
                        <li>
                            <a href="https://search.rakuten.co.jp/search/mall/?max=1000&min=501&sid=234660&v=3">あと 1,000円</a>
                        </li>
                        <li>
                            <a href="https://search.rakuten.co.jp/search/mall/coton/?max=1500&min=1001&sid=234660&v=2">あと 1,500円</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="c-side__navi">
            <div class="c-side__title">
                <a href="https://item.rakuten.co.jp/okotico/c/0000000379/" target="_top">
                    <img src="/assets/img/common/icon_18.png" width="23" height="23" alt="" /><span>ギフトラッピング</span>
                </a>
            </div>
            <div class="c-side__list">
                <div class="c-list2">
                    <ul>
                        <li>
                            <a href="https://item.rakuten.co.jp/okotico/c/0000000379/" target="_top">ラッピング</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>
