/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn1 {
	a {
		padding: 11px 5px;
		box-sizing: border-box;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		width: 100%;
		height: 100%;
		font-size: 1.2rem;
		color: #231F20;
		background: #F5F7F7;
		border: 1px solid #CBCACB;
		border-radius: 10px;
		max-width: 242px;
	}
}