/*------------------------------------------------------------
title
------------------------------------------------------------*/

.c-title1 {
    font-size: 2.8rem;
    color: #231916;
    border-bottom: 1px solid #231916;
    padding-bottom: 2px;
    position: relative;
    // letter-spacing: 0.1em;
    @include sp {
        font-size: 1.6rem;
    }
    &__text2 {
        font-size: 1.4rem;
        margin-left: 15px;
        @include sp {
            font-size: 1.2rem;
            margin-left: 7px;
        }
    }
    &__link {
        text-decoration: none;
        font-size: 1.179rem;
        color: #231916;
        display: inline-block;
        padding: 17px 0 11px;
        position: absolute;
        top: 0;
        right: 0;
        @include sp {
            font-size: 1.1rem;
            padding: 9px 0 4px;
        }
    }
}


/*
------------------------------------------------------------*/

.c-title2 {
    font-size: 2.6rem;
    color: #231916;
    padding-bottom: 6px;
    border-bottom: 1px solid #231916;
    @include sp {
        font-size: 1.6rem;
        padding-bottom: 3px;
    }
}


/*
------------------------------------------------------------*/

.c-title3 {
    font-size: 1.4rem;
    color: #231F20;
    border-bottom: 1px solid #231F20;
    padding-bottom: 6px;
    @include sp {
        font-size: 0.7rem;
        padding-bottom: 3px;
    }
}


/*
------------------------------------------------------------*/

.c-title4 {
    font-size: 2rem;
    color: #231F20;
    @include sp {
        font-size: 1rem;
    }
}
