/*------------------------------------------------------------
text
------------------------------------------------------------*/

.c-text {
    color: #231916;
    h3 {
        font-size: 1.8rem;
        margin-bottom: 6px;
        @include sp {
            font-size: 1.3rem;
            margin-bottom: 3px;
        }
    }
    p {
        font-size: 1.4rem;
        line-height: 2;
        text-align: justify;
        @include sp {
            font-size: 1.2rem;
            line-height: 1.8;
        }
        +p {
            margin-top: 28px;
        }
    }
    a {
        text-decoration: none;
        color: #231916;
    }
}
