/*------------------------------------------------------------
list
------------------------------------------------------------*/

.c-list1 {
    ul {
        li {
            margin-bottom: 17px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    a {
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: bold;
        color: #231916;
    }
}


/*
------------------------------------------------------------*/

.c-list2 {
    ul {
        li {
            border-bottom: 1px solid #231916;
        }
    }
    a {
        text-decoration: none;
        font-size: 1.3rem;
        color: #231916;
        display: block;
        padding: 10px 20px 10px 10px;
        position: relative;
        &:after {
            content: ">";
            font-size: 1.6rem;
            color: #231916;
            position: absolute;
            top: 49%;
            right: 9px;
            transform: translateY(-50%);
        }
    }
}


/*
------------------------------------------------------------*/

.c-list3 {
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        width: 45.585%;
        margin-bottom: 30px;
        @include sp {
            width: 48.215%;
            margin-bottom: 12px;
        }
        a {
            display: block;
            text-decoration: none;
            color: #231916;
        }
    }
    &__image {
        margin-bottom: 12px;
        @include sp {
            margin-bottom: 7px;
        }
        img {
            max-width: 100%;
            height: auto;
            @include sp {
                width: 100%;
            }
        }
    }
    &__info {}
    &__title {
				font-size: 1.4rem;
        margin-bottom: 6px;
        @include sp {
            font-size: 1.3rem;
            margin-bottom: 2px;
        }
    }
    &__text {
        font-size: 1.2rem;
        text-align: justify;
        @include sp {
            font-size: 1.1rem;
        }
    }
}


/*
------------------------------------------------------------*/

.c-list4 {
    &__inner {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 25.975%;
        margin: 0 0 50px 11.0375%;
        @include sp {
            width: 31.25%;
            margin: 0 3.125% 20px 0;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        &:nth-child(3n+1) {
            margin-left: 0;
        }
        a {
            display: block;
            text-decoration: none;
            color: #231916;
        }
    }
    &__image {
        margin-bottom: 14px;
        @include sp {
            margin-bottom: 3px;
        }
        img {
            max-width: 100%;
            height: auto;
            @include sp {
                width: 100%;
            }
        }
    }
    &__info {
        font-size: 1.1rem;
        position: relative;
        @include sp {
            font-size: 1.1rem;
        }
    }
    &__tag {
        font-size: 1rem;
        color: #fff;
        background: #E60013;
        line-height: 1;
        padding: 2px;
        display: inline-block;
        position: absolute;
        top: auto;
        margin-top: 2px;
        @include sp {
            font-size: 1.0375rem;
            margin-top: 1px;
            padding: 1px;
        }
    }
}


/*
------------------------------------------------------------*/

.c-list5 {
    &__inner {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 16.234%;
        margin: 0 0 30px 4.7075%;
        @include sp {
            width: 31.25%;
            margin: 0 3.125% 15px 0;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        &:nth-child(5n+1) {
            margin-left: 0;
        }
        a {
            display: block;
            text-decoration: none;
            color: #231916;
        }
    }
    &__image {
        margin-bottom: 12px;
        @include sp {
            margin-bottom: 8px;
        }
        img {
            max-width: 100%;
            height: auto;
            @include sp {
                width: 100%;
            }
        }
    }
    &__info {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        @include sp {
            font-size: 1.15rem;
        }
    }
}


/*
------------------------------------------------------------*/

.c-list6 {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            width: 48.702%;
            margin-bottom: 40px;
            @include sp {
                margin-bottom: 20px;
            }
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}


/*
------------------------------------------------------------*/

.c-list7 {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            width: 31.43%;
            margin-bottom: 30px;
            @include sp {
                margin-bottom: 15px;
            }
        }
    }
    .c-btn1 {
        height: 100%;
    }
}


/*
------------------------------------------------------------*/

.c-list8 {
    font-size: 1.4rem;
    color: #231F20;
    line-height: 2;
    @include sp {
        font-size: 1.2rem;
        line-height: 1.8;
    }
    ul {
        li {
            position: relative;
            padding-left: 18px;
            @include sp {
                padding-left: 9px;
            }
            &:before {
                content: "・";
                color: #231F20;
                position: absolute;
                top: -1px;
                left: 1px;
                transform: scale(1.5);
                @include sp {
                    transform: scale(1);
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    &--dot {
        ul {
            li {
                &:before {
                    content: "";
                    width: 4px;
                    height: 4px;
                    border-radius: 50px;
                    background: #231F20;
                    top: 12px;
                    left: 6px;
                    @include sp {
                        width: 3px;
                        height: 3px;
                        top: 5px;
                        left: 1px;
                    }
                }
            }
        }
    }
}
