/*------------------------------------------------------------
table
------------------------------------------------------------*/

.c-table1 {
    font-size: 1.4rem;
    color: #231916;
    line-height: 2;
    @include sp {
        font-size: 1.2rem;
        line-height: 1.8;
    }
    dl {
        margin-bottom: 27px;
        @include sp {
            margin-bottom: 15px;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        dt {
            margin-bottom: 1px;
            font-weight: bold;
        }
        dd {}
    }
    ul {
        li {
            display: inline-block;
            margin-right: 22px;
            @include sp {
                margin-right: 11px;
            }
            a {
                color: #231916;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


/*
------------------------------------------------------------*/

.c-table2 {
    font-size: 1.4rem;
    color: #231f20;
    line-height: 2;
    @include sp {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    dl {
        display: flex;
        border-bottom: 1px solid #c7c8ca;
        dt {
            width: 96px;
            padding: 10px 0 11px 5px;
            @include sp {
                width: 60px;
                padding: 5px 0 6px 3px;
            }
        }
        dd {
            width: calc(100% - 96px);
            padding: 10px 5px 11px 0;
            @include sp {
                width: calc(100% - 60px);
                padding: 5px 3px 6px 0;
            }
        }
    }
}


/*
------------------------------------------------------------*/

.c-table3 {
    font-size: 1.4rem;
    color: #231f20;
    line-height: 2;
    @include sp {
        font-size: 0.7rem;
        line-height: 1.8;
    }
    dl {
        display: flex;
        margin-bottom: 27px;
        &:last-of-type {
            margin-bottom: 0;
        }
        @include sp {
            margin-bottom: 15px;
        }
        dt {
            width: 112px;
            font-weight: bold;
            @include sp {
                width: 56px;
            }
        }
        dd {
            width: calc(100% - 112px);
            @include sp {
                width: calc(100% - 56px);
            }
        }
    }
    &__list {
        li {
            display: flex;
            span {
                width: 83px;
                font-weight: bold;
                @include sp {
                    width: 42px;
                }
            }
            p {
                width: calc(100% - 83px);
                @include sp {
                    width: calc(100% - 42);
                }
            }
        }
    }
    &__list2 {
        >li {
            position: relative;
            padding-left: 18px;
            text-align: justify;
            @include sp {
                padding-left: 9px;
            }
            &:before {
                content: "";
                width: 6px;
                height: 6px;
                background: #231f20;
                border-radius: 50px;
                position: absolute;
                top: 10px;
                left: 5px;
                @include sp {
                    width: 3px;
                    height: 3px;
                    top: 5px;
                    left: 2px;
                }
            }
        }
    }
    &__list3 {
        margin-top: 27px;
        @include sp {
            margin-top: 15px;
        }
        >li {
            position: relative;
            padding-left: 18px;
            @include sp {
                padding-left: 9px;
            }
            &:before {
                content: "※";
                color: #231f20;
                position: absolute;
                top: 0px;
                left: 2px;
                @include sp {
                    left: 0;
                }
            }
        }
    }
    &__list4 {
        >li {
            position: relative;
            &:before {
                content: "・";
                display: inline-block;
                color: #231f20;
                transform: scale(1.5);
                @include sp {
                    transform: scale(1);
                }
            }
        }
    }
    .mt0 {
        margin-top: 0;
    }
    .img1 {
        margin: -5px 0 4px;
        max-width: 100%;
        height: auto;
        @include sp {
            width: 170px;
        }
    }
}


/*
------------------------------------------------------------*/

.c-table4 {
    font-size: 1.4rem;
    color: #231f20;
    @include sp {
        font-size: 0.7rem;
    }
    dl {
        display: flex;
        margin-bottom: 7px;
        &:last-of-type {
            margin-bottom: 0;
        }
        dt {
            width: 98px;
            margin-right: 20px;
            font-weight: bold;
            text-align-last: justify;
            @include sp {
                width: 61px;
            }
        }
        dd {
            width: calc(100% - 122px);
            @include sp {
                width: calc(100% - 61px);
            }
        }
    }
}


/*
------------------------------------------------------------*/

.c-table5 {
    font-size: 1.4rem;
    color: #231f20;
    line-height: 2;
    @include sp {
        font-size: 1.2rem;
        line-height: 1.8;
    }
    dl {
        margin-bottom: 28px;
        display: flex;
        &:last-of-type {
            margin-bottom: 0;
        }
        @include sp {
            margin-bottom: 15px;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        dt {
            width: 71px;
            font-weight: bold;
            @include sp {
                width: 44px;
            }
        }
        dd {
            width: calc(100% - 71px);
            @include sp {
                width: calc(100% - 44px);
            }
        }
    }
    &--history {
        line-height: 3;
        @include sp {
            line-height: 2;
        }
        &>p {
            font-weight: bold;
        }
        dl {
            margin-bottom: 0;
            @include sp {
                margin-bottom: 15px;
            }
            dt {
                width: 87px;
                @include sp {
                    font-size: 1.2rem;
                    width: 64px;
                }
            }
            dd {
                width: calc(100% - 87px);
                @include sp {
                    width: calc(100% - 64px);
                }
            }
        }
    }
}
