/*------------------------------------------------------------
video
------------------------------------------------------------*/

.c-slide1 {
    img {
        width: 100%;
        height: auto;
    }
    .slick-dots {
        margin-top: 22px;
        text-align: center;
        @include sp {
            margin-top: 2px;
        }
        button {
            display: none;
        }
        li {
            width: 9px;
            height: 9px;
            display: inline-block;
            background: #9FA0A0;
            border-radius: 50px;
            margin: 0 5px;
            cursor: pointer;
            @include sp {
                width: 5px;
                height: 5px;
                margin: 0 2px;
            }
            &.slick-active {
                background: #231916;
            }
        }
    }
    .pre,
    .next {
        width: 40px;
        height: 60px;
        position: absolute;
        top: 46.5%;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
        @include sp {
            width: 30px;
            top: 43%;
        }
        &:after {
            content: "";
            width: 12px;
            height: 12px;
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
            position: absolute;
            top: 50%;
            @include sp {
                border-width: 1px;
                width: 4px;
                height: 4px;
            }
        }
    }
    .pre {
        left: 0;
        &:after {
            left: 13px;
            transform: translateY(-50%) rotate(45deg);
            @include sp {
                left: 5px;
            }
        }
    }
    .next {
        right: 0;
        &:after {
            right: 13px;
            transform: translateY(-50%) rotate(225deg);
            @include sp {
                right: 5px;
            }
        }
    }
}


/*
------------------------------------------------------------*/