/*------------------------------------------------------------
other
------------------------------------------------------------*/

.c-search {
    @include sp {
        padding-bottom: 8px;
    }
    &__box {
        display: flex;
        border-bottom: 1px solid #231916;
        input[type=text] {
            width: calc(100% - 30px);
            height: 45px;
            border: none;
            font-size: 1.4rem;
            font-weight: bold;
            color: #231916;
            @include sp {
                font-size: 1.05rem;
                height: 25px;
            }
        }
         ::placeholder {
            color: #9FA0A0;
        }
        input[type=submit] {
            width: 30px;
            border: none;
            background: none;
            background-image: url(/assets/img/common/icon_10.png);
            background-repeat: no-repeat;
            background-position: right top 8px;
            background-color: #fff;
            appearance: none;
            @include sp {
                background-size: 11px;
            }
        }
    }
}


/*
------------------------------------------------------------*/

.c-top {
    text-align: right;
    p {
        cursor: pointer;
        display: inline-block;
        font-size: 1.442rem;
        color: #231916;
        font-weight: bold;
        position: relative;
        padding-right: 23px;
        @include sp {
            font-size: 0.7rem;
            padding-right: 12px;
        }
        &:after {
            content: "";
            width: 8px;
            height: 8px;
            border-left: 2px solid #231916;
            border-top: 2px solid #231916;
            position: absolute;
            top: 8px;
            right: 3px;
            transform: rotate(45deg);
            @include sp {
                border-width: 1px;
                width: 4px;
                height: 4px;
                top: 4px;
                right: 1px;
            }
        }
    }
}


/*
------------------------------------------------------------*/

.c-info {
    &__title {
        font-size: 1.4rem;
        color: #231F20;
        @include sp {
            font-size: 0.7rem;
        }
    }
    &__phase {
        overflow: hidden;
        padding-bottom: 58px;
        &:last-of-type {
            padding-bottom: 0;
        }
        @include sp {
            padding-bottom: 30px;
        }
    }
    &__line {
        margin-top: 63px;
        display: flex;
        padding-left: 30px;
        @include sp {
            margin-top: 32px;
        }
        li {
            position: relative;
            width: 25%;
            border-bottom: 2px solid #231F20;
            &:before {
                content: "";
                width: 14px;
                height: 14px;
                border-radius: 50px;
                background: #D1D3D4;
                position: absolute;
                top: -6px;
                left: -8px;
                z-index: 10;
            }
            span {
                width: 100%;
                font-size: 1.4rem;
                color: #231F20;
                white-space: nowrap;
                position: absolute;
                top: -35px;
                left: -50%;
                text-align: center;
                @include sp {
                    font-size: 0.7rem;
                    top: -20px;
                }
            }
            &:last-of-type {
                width: 0;
                &:before {
                    background: #231F20;
                    left: -5px;
                }
            }
            &:nth-child(5) {
                &:before {
                    left: -14px;
                }
            }
        }
    }
    &__detail {
        display: flex;
        padding-top: 27px;
        padding-left: 30px;
        li {
            width: 25%;
            &:first-of-type {
                .c-info__box {
                    margin-left: -10px;
                    &:before {
                        left: 9px;
                        @include sp {
                            left: 7px;
                        }
                    }
                }
            }
            &:last-of-type {
                .c-info__box {
                    &:before {
                        left: 51.5%;
                        @include sp {
                            left: 52.6%;
                        }
                    }
                }
            }
        }
    }
    &__box {
        color: #231F20;
        width: 98%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #231F20;
        margin-left: -49%;
        padding: 16px 10px 15px 20px;
        position: relative;
        @include sp {
            padding: 5px;
        }
        &:before {
            content: "";
            height: 30px;
            width: 0;
            border-left: 1px dotted #231F20;
            position: absolute;
            top: -30px;
            left: 49.5%;
            transform: translateX(-50%);
            @include sp {
                left: 49%;
            }
        }
        h5 {
            font-size: 1.4rem;
            text-align: center;
            @include sp {
                font-size: 0.7rem;
            }
        }
        p {
            font-size: 1.3rem;
            @include sp {
                font-size: 0.6rem;
            }
        }
    }
    &__box2 {
        color: #231F20;
        width: 145%;
        margin-left: -39%;
        padding: 18px 0 15px 24px;
        position: relative;
        @include sp {
            width: 120%;
        }
        &:before {
            content: "";
            width: 22px;
            height: 50px;
            border-bottom: 1px solid #231F20;
            border-left: 1px solid #231F20;
            position: absolute;
            top: -24px;
            left: 0;
        }
        &:after {
            content: "";
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 6px solid #231F20;
            position: absolute;
            top: -27px;
            left: -3.5px;
        }
        h5 {
            font-size: 1.4rem;
            @include sp {
                font-size: 0.7rem;
            }
        }
        p {
            font-size: 1.3rem;
            @include sp {
                font-size: 0.6rem;
            }
        }
    }
}


/*
------------------------------------------------------------*/

.c-info2 {
    &__title {
        font-size: 1.4rem;
        color: #231F20;
        font-weight: bold;
        margin-bottom: 19px;
        @include sp {
            font-size: 0.7rem;
            margin-bottom: 10px;
        }
    }
    &__imgtxt {
        display: flex;
        align-items: center;
        margin-bottom: 58px;
        &:last-of-type {
            margin-bottom: 0;
        }
        @include sp {
            margin-bottom: 30px;
        }
    }
    &__img {
        width: 50%;
        img {
            max-width: 100%;
            height: auto;
            @include sp {
                max-width: 85%;
            }
        }
    }
    &__txt {
        width: 50%;
        font-size: 1.4rem;
        color: #231F20;
        padding: 13px 0 0 10px;
        text-align: justify;
        @include sp {
            font-size: 0.7rem;
            padding: 6px 0 0 5px;
        }
    }
}


/*
------------------------------------------------------------*/

.c-info3 {
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        &:last-of-type {
            margin-bottom: 0;
        }
        @include sp {
            margin-bottom: 20px;
        }
    }
    &__img {
        width: 39%;
        text-align: center;
        img {
            max-width: 100%;
            height: auto;
            @include sp {
                max-width: 65%;
            }
        }
    }
    &__txt {
        width: 61%;
        color: #231F20;
        margin-top: -5px;
        padding-left: 5px;
        >span {
            display: block;
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 2px;
            @include sp {
                font-size: 0.9rem;
            }
        }
        p {
            font-size: 1.4rem;
            line-height: 2;
            @include sp {
                font-size: 0.7rem;
            }
            >span {
                font-weight: bold;
            }
        }
    }
}


/*
------------------------------------------------------------*/

.c-faq {
    font-size: 1.4rem;
    color: #231F20;
    line-height: 2;
    @include sp {
        font-size: 1.2rem;
        line-height: 1.8;
    }
    &__item {
        border: 1px solid #231F20;
        margin-bottom: 28px;
        text-align: justify;
        @include sp {
            margin-bottom: 14px;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__q {
        padding: 12px 10px 9px 41px;
        background: #DCDDDE;
        position: relative;
        border-bottom: 1px solid #231F20;
        @include sp {
            padding: 6px 5px 5px 20px;
        }
    }
    &__a {
        padding: 12px 25px 12px 42px;
        position: relative;
        @include sp {
            padding: 6px 7px 6px 21px;
        }
    }
    &__icon1 {
        font-size: 2.1rem;
        font-weight: bold;
        position: absolute;
        top: 6px;
        left: 15px;
        @include sp {
            font-size: 1.25rem;
            top: 5px;
            left: 7px;
        }
    }
    &__icon2 {
        font-size: 2.1rem;
        font-weight: bold;
        position: absolute;
        top: 6px;
        left: 15px;
        @include sp {
            font-size: 1.25rem;
            top: 5px;
            left: 7px;
        }
    }
    a {
        color: #231F20;
        font-weight: bold;
    }
}
