/*------------------------------------------------------------
feature
------------------------------------------------------------*/

.p-feature {
    @include sp {
        margin-bottom: 30px;
    }
    .c-title2 {
        margin: 37px 0 72px;
        @include sp {
            margin: 18px 0 36px;
        }
    }
    .c-image {
        margin-bottom: 24px;
        display: block;
        @include sp {
            margin-bottom: 12px;
        }
    }
    .c-text {
        margin-bottom: 99px;
        @include sp {
            margin-bottom: 50px;
        }
    }
}