/*------------------------------------------------------------
jielde
------------------------------------------------------------*/

.p-jielde {
	@include sp {
		padding-bottom: 50px;
	}
	&__title {
		margin-bottom: 63px;
		text-align: center;
		@include sp {
			margin-bottom: 32px;
			img {
				width: 125px;
				height: auto;
			}
		}
	}
	.c-title1 {
		margin: 62px 0 50px;
		@include sp {
			margin: 30px 0 25px;
		}
	}
	.c-title2 {
		margin: 37px 0 72px;
		@include sp {
			margin: 20px 0 36px;
		}
	}
	.c-image {
		margin-bottom: 72px;
		@include sp {
			margin-bottom: 36px;
		}
	}
	.c-list4 {
		&__item {
			margin-bottom: 35px;
			@include sp {
				margin-bottom: 20px;
			}
		}
	}
	.c-list6 {
		margin: 56px 0 18px;
		@include sp {
			margin: 28px 0 10px;
		}
	}

}

/*
------------------------------------------------------------*/