/*------------------------------------------------------------
news
------------------------------------------------------------*/

.p-news {
    @include sp {
        margin-bottom: 50px;
    }
    .c-title2 {
        margin: 37px 0 35px;
        @include sp {
            margin: 18px 0 17px;
        }
    }
    .c-text {
        margin-bottom: 51px;
        @include sp {
            margin-bottom: 25px;
        }
    }
}